@{
    ViewData["Title"] = "Home Page";
}
<h1>Got a question?</h1>
<br/>
<br/>
<body>
    <section>
        <a asp-controller="Questions">This will link to the controller where you can see others and create yours</a>
    </section>
</body>